<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diarrhoea/Constipation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Style.css' %}">
    <link rel="stylesheet" href="{% static 'Shapes.css' %}">
</head>
<body>
     <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'home' %}">
                    <h1 class="is-size-5 has-text-left has-text-weight-bold title-white"><u>Find Your Remedy</u></h1>
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Problems
                    </a>
                    <div class="navbar-dropdown">
                        {% for illness in illnesses %}
                        <a class="navbar-item" href="{% url 'illness_view' illness.name %}">{{ illness.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="notification is-primary" style="margin-top: 3.25rem;">
            <h1 class="is-size-1 has-text-centered has-text-weight-bold"><u>Find Your Remedy</u></h1>
        </div>
        <h2 class="is-size-3 has-text-weight-bold"><u>Diarrhoea/Constipation</u></h2>
        <p>
            <br>
            <b>Diarrhoea</b> is common in adults, children and babies. It is often caused by a stomach bug and
            should stop in a few days.<br>
            <br>
            <b>Constipation</b> is where you have changes to how you poo, including not pooing as often or finding it hard to poo.
            It's common, and it affects people of all ages. You can usually treat it with simple changes to your diet and lifestyle.
            This page is about constipation in adults. There's separate information on constipation in babies and children.
        </p>
        <hr>
        <br>
        <br>
        <figure class="image is-1080x1080">
            <img class="is-rounded image-border" src="{% static '/images/CandD.png' %}" alt="Diarrhoea/Constipation image"/>
        </figure>
        <hr>
        <h4 class="is-size-4 has-text-weight-bold">
            How you can treat and prevent constipation yourself:
        </h4>
        <br>
        <p>
            Making simple changes to your diet and lifestyle can help treat constipation.
        </p>
        <br>
        <p>
            It's safe to try these simple measures when you're pregnant.
        </p>
        <br>
        <p>
            You may notice a difference within a few days. Sometimes it takes a few weeks before your symptoms improve.
        </p>
        <br>
        <h5 class="is-size-5 has-text-weight-bold">
            Make changes to your diet:
        </h5>
        <br>
        <p>
            To make your poo softer and easier to pass:
        </p>
        <br>
        <div class="content">
            <ul>
                <li>eat a healthy balanced diet and include fruits that contain sorbitol such as apples, apricots, grapes (and raisins), raspberries and strawberries</li>
                <li>drink plenty of water and other fluids and avoid alcohol</li>
                <li>gradually increase the fibre in your diet</li>
                <li>add some wheat bran, oats or linseed to your diet</li>
            </ul>
        </div>
        <br>
        <h5 class="is-size-5 has-text-weight-bold">
            Improve your toilet routine
        </h5>
        <br>
        <p>
            Keep to a regular time and place and give yourself plenty of time to use the toilet.
        </p>
        <br>
        <p>
            Do not delay if you feel the urge to poo.
        </p>
        <br>
        <p>
            To make it easier to poo, try resting your feet on a low stool while going to the toilet. If possible, raise your knees above your hips.
        </p>
        <br>
        <h5 class="is-size-5 has-text-weight-bold">
            Consider increasing your activity
        </h5>
        <br>
        <p>
            A daily walk or run can help you poo more regularly.
        </p>
        <br>
        <h5 class="is-size-5 has-text-weight-bold">
            Speak to a pharmacist for advice
        </h5>
        <br>
        <p>
            Speak to a pharmacist if diet and lifestyle changes are not helping.
        </p>
        <br>
        <p>
            They can suggest a suitable laxative. These are medicines that help you poo more regularly.
        </p>
        <br>
        <p>
            Most laxatives work within 3 days. They should only be used for a short time.
        </p>
        <hr>
        <h4 class="is-size-4 has-text-weight-bold">
            Check if it's constipation:
        </h4>
        <br>
        <p>
            It's likely to be constipation if:
        </p>
        <br>
        <div class="content">
            <ul>
                <li>you have not had a poo at least 3 times during the last week or you're pooing less often than usual</li>
                <li>the poo is unusually large or small and is dry, hard or lumpy</li>
                <li>you are straining or in pain when you have a poo</li>
                <li>you feel like you haven't fully emptied your bowels</li>
            </ul>
        </div>
        <br>
        <p>
            You may also have a stomach ache and feel bloated or sick.
        </p>
        <br>
        <p>
            If you're caring for an older person, or someone with dementia or a learning disability, constipation may be easily missed. Look out for any behaviour changes such as confusion, as it might mean they are in pain or discomfort.
        </p>
        <hr>
        <h4 class="is-size-4 has-text-weight-bold">
            What causes constipation:
        </h4>
        <br>
        <p>
            Constipation in adults has many possible causes. Sometimes there's no obvious reason.
        </p>
        <br>
        <p>
            The most common causes include:
        </p>
        <br>
        <div class="content">
            <ul>
                <li>not eating enough fibre, which is found in fruits, vegetables and cereals</li>
                <li>not drinking enough fluids</li>
                <li>not moving enough and spending long periods sitting or lying down</li>
                <li>being less active and not exercising</li>
                <li>often ignoring the urge to go to the toilet</li>
                <li>changing your diet or daily routine</li>
                <li>a side effect of medicine</li>
                <li>stress, anxiety or depression</li>
            </ul>
        </div>
        <br>
        <p>
            Constipation is common during pregnancy and after giving birth. It is also more common if you are over 65 years old.
        </p>
        <br>
        <p>
            Constipation can also be caused by a medical condition such as diverticular disease or bowel cancer, but this is rare.
        </p>
        <br>
        <h4 class="is-size-4 has-text-weight-bold has-text-primary">
            See a GP if you:
        </h4>
        <br>
        <div class="content">
            <ul>
                <li>are constipated and it's not getting better with treatment</li>
                <li>are regularly constipated</li>
                <li>are regularly bloated</li>
                <li>have blood in your poo</li>
                <li>have lost weight without trying</li>
                <li>are constipated and feel tired all the time</li>
                <li>are taking medicine that's causing constipation – such as opioid painkillers</li>
                <li>notice sudden changes in how you poo (your bowel habits)</li>
                <li>have tummy pain</li>
            </ul>
        </div>
        <br>
        <p>
            Speak to the GP before you stop taking any prescribed medicine.
        </p>
        <hr>
        <h4 class="is-size-4 has-text-weight-bold">
            Complications of long-term constipation
        </h4>
        <br>
        <p>
            Long-term constipation can lead to faecal impaction. This is where poo has built up in the last part of the large intestine (rectum).
        </p>
        <br>
        <p>
            The main symptom is diarrhoea, which leaks through the build-up of solid poo.
        </p>
        <br>
        <p>
            Faecal impaction may be treated with:
        </p>
        <br>
        <div class="content">
            <ul>
                <li>stronger laxatives – prescribed by a GP</li>
                <li>a suppository – medicine you place in your bottom</li>
                <li>a mini enema – where fluid is passed through your bottom, into your bowel</li>
                <li>a healthcare professional removing some of the poo – this is not something you should do yourself
                </li>
            </ul>
        </div>
        <hr>
        <h4 class="is-size-4 has-text-weight-bold">
            How to treat diarrhoea yourself:
        </h4>
        <br>
        <p>
            Diarrhoea can usually be treated at home. The most important thing is to have lots of fluids
            to avoid dehydration.
        </p>
        <hr>
        <h4 class="is-size-4 has-text-weight-bold has-text-primary">
            Do (for diarrhoea):
        </h4>
        <br>
        <div class="content">
            <ul>
                <li>stay at home and get plenty of rest</li>
                <li>drink lots of fluids, such as water or squash</li>
                <li>give babies on formula or solid foods small sips of water between feeds</li>
                <li>eat when you feel able to – it may help to avoid foods that are fatty or spicy</li>
                <li>take paracetamol if you're in discomfort – check the leaflet before giving it to your child</li>
            </ul>
        </div>
        <br>
        <h4 class="is-size-4 has-text-weight-bold has-text-danger">
            Don't (for diarrhoea):
        </h4>
        <br>
        <div class="content">
            <ul>
                <li>do not have fruit juice or fizzy drinks – they can make diarrhoea worse</li>
                <li>do not make baby formula weaker – use it at its usual strength</li>
                <li>do not give children under 12 medicine to stop diarrhoea</li>
                <li>do not give aspirin to children under 16</li>
            </ul>
        </div>
        <hr>
        <h4 class="is-size-4 has-text-weight-bold">
            How long should diarrhoea last
        </h4>
        <br>
        <p>
            In adults and children:
        </p>
        <br>
        <div class="content">
            <ul>
                <li>diarrhoea usually stops within 5 to 7 days</li>
            </ul>
        </div>
        <br>
        <h4 class="is-size-4 has-text-weight-bold">
            Diarrhoea can spread easily
        </h4>
        <br>
        <p>
            Stay off school or work until you've not had diarrhoea for at least 2 days.
        </p>
        <br>
        <p>
            If you have a high temperature or do not feel well enough to do your normal activities, try to stay at home and avoid contact with other people until you feel better.
        </p>
        <br>
        <p>
            To help avoid spreading an infection:
        </p>
        <br>
        <div class="content">
            <ul>
                <li>wash your hands with soap and water frequently</li>
                <li>wash any clothing or bedding that has poo on it separately on a hot wash</li>
                <li>clean toilet seats, flush handles, taps, surfaces and door handles every day</li>
                <li>do not prepare food for other people, if possible</li>
                <li>do not share towels, flannels, cutlery or utensils</li>
                <li>do not use a swimming pool until at least 48 hours after your symptoms stop</li>
            </ul>
        </div>
        <br>
        <h4 class="is-size-4 has-text-weight-bold">
            A pharmacist can help with diarrhoea
        </h4>
        <br>
        <p>
            Speak to a pharmacist if:
        </p>
        <br>
        <div class="content">
            <ul>
                <li>you or your child (over 5 years) have signs of dehydration, such as dark, smelly pee or peeing less than usual</li>
                <li>you're an older person, have a weakened immune system, or have other health conditions that increase your risk of dehydration</li>
                <li>you need to stop diarrhoea for a few hours</li>
            </ul>
        </div>
        <br>
        <p>
            They may suggest:
        </p>
        <br>
        <div class="content">
            <ul>
                <li>oral rehydration powder that you mix with water to make a drink</li>
                <li>medicine to stop diarrhoea for a few hours, like loperamide (not suitable for children under 12)</li>
            </ul>
        </div>
        <br>
        <div class="columns is-mobile">
            <div class="column is-narrow">
                <figure class="image is-128x128">
                    <img class="image-border" src="{% static '/images/dioralyte.jpg' %}" alt="Dioralyte image"/>
                </figure>
            </div>
            <div class="column is-narrow">
                <figure class="image is-128x128">
                    <img class="image-border" src="{% static '/images/loperamide.jpg' %}" alt="Loperamide image"/>
                </figure>
            </div>
        </div>
        <br>
        <hr>
        <h4 class="is-size-4 has-text-weight-bold has-text-danger">
            <u>Call 111 now if:</u>
        </h4>
        <br>
        <div class="content">
            <ul>
                <li>you're worried about a baby under 12 months</li>
                <li>your child stops breast or bottle feeding while they're ill</li>
                <li>a child under 5 years has signs of dehydration, such as fewer wet nappies</li>
                <li>you or your child (over 5 years) still have signs of dehydration after using oral rehydration sachets</li>
                <li>you or your child have bloody diarrhoea or bleeding from the bottom</li>
                <li>you or your child have diarrhoea for more than 7 days or vomiting for more than 2 days</li>
            </ul>
        </div>
        <br>
        <p>
            111 will tell you what to do. They can arrange a phone call from a nurse or doctor if you need one.
        </p>
        <hr>
        <h4 class="is-size-4 has-text-weight-bold has-text-danger">
            <u>Call 999 or fo to A&E if you or your child:</u>
        </h4>
        <br>
        <div class="content">
            <ul>
                <li>may have swallowed something poisonous</li>
                <li>have a sudden, severe tummy ache</li>
                <li>have blue, grey, pale or blotchy skin, lips or tongue - on brown or black skin this may be easier to see on the palms of the hands or soles of the feet</li>
                <li>are having severe difficulty breathing, or taking lots of quick, short breaths</li>
                <li>are confused or not responding as usual</li>
            </ul>
        </div>
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <button class="button has-text-weight-bold" aria-haspopup="true" aria-controls="dropdown-menu3">
                    <span><u>What we mean by severe pain</u></span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-item">
                        <div class="content">
                            <p>
                                <b>Severe pain:</b>
                            </p>
                            <ul>
                                <li>always there and so bad it's hard to think or talk</li>
                                <li>you cannot sleep</li>
                                <li>it's very hard to move, get out of bed, go to the bathroom, wash or dress</li>
                            </ul>
                            <hr>
                            <p>
                                <b>Moderate pain:</b>
                            </p>
                            <ul>
                                <li>always there</li>
                                <li>makes it hard to concentrate or sleep</li>
                                <li>you can manage to get up, wash or dress</li>
                            </ul>
                            <hr>
                            <p>
                                <b>Mild pain:</b>
                            </p>
                            <ul>
                                <li>comes and goes</li>
                                <li>is annoying but does not stop you doing daily activities</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container1">
            <div class="flex-container">
                <div class="rectangle"></div>
                <p>
                    Do not drive to A&E. Ask someone to drive you or call 999 and ask for an ambulance.<br>
                    Bring any medicines you take with you.
                </p>
            </div>
        </div>
        <br>
        <h4 class="is-size-4 has-text-weight-bold">
            <u>Causes of diarrhoea:</u>
        </h4>
        <br>
        <p>
            The most common causes of diarrhoea are:
        </p>
        <br>
        <div class="content">
            <ul>
                <li>a stomach bug</li>
                <li>food poisoning</li>
            </ul>
        </div>
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <button class="button has-text-weight-bold" aria-haspopup="true" aria-controls="dropdown-menu3">
                    <span><u>Other causes of diarrhoea</u></span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu-3" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-item">
                        <div class="content">
                            <p>
                                <b>Diarrhoea can also be caused by:</b>
                            </p>
                            <ul>
                                <li>Medicines – check the leaflet to see if it's a side effect</li>
                                <li>A food intolerance or food allergy</li>
                                <li>Irritable bowel syndrome (IBS)</li>
                                <li>Anxiety</li>
                                <li>Appendicitis</li>
                                <li>Inflammatory bowel disease</li>
                                <li>Coeliac disease</li>
                                <li>Diverticular disease</li>
                                <li>Radiation treatment in the pelvic area</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h2 class="is-size-3 has-text-weight-bold">Find more about other problems:</h2>
        <p>
            Please select one of the following health problems to find the cause, your remedy, and possible preventions to
            your problem/s:
        </p>
        <br>
        <div class="fixed-grid">
            <div class="grid">
                 {% for illness in illnesses %}
                    <a class="cell1 notification is-link has-text-centered is-size-5" href="{% url 'illness_view' illness.name %}">{{ illness.name }}</a>
                 {% endfor %}
                <br>
            </div>

            <div class="columns is-centered">
                <div class="column is-full">
                    <a class="button is-size-4 is-primary has-text-white is-fullwidth" href="{% url 'home' %}">Back Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>