<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Your Remedy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Style.css' %}">
</head>
<body>
    <div class="container">
        <div class="notification is-primary">
            <h1 class="is-size-1 has-text-centered has-text-weight-bold"><u>Find Your Remedy</u></h1>
        </div>
        <h2 class="is-size-3 has-text-weight-bold">What's it about?</h2>
        <p>
            A page dedicated into providing basic, general information about how to find the solution to your health
            problem/s.
        </p>
        <br>
        <p>(place holder text;)Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda consectetur, delectus est ex iure libero natus, nihil odio repellendus tempore tenetur! Aliquid amet ea numquam placeat, quo sequi vitae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae debitis ipsa labore maiores minima minus, molestias, nisi nostrum numquam obcaecati pariatur quia quibusdam quos rerum sed sint tempore voluptate.</p>
        <br>
        <figure class="image is-1080x1080">
            <img class="is-rounded image-border" src="{% static '/images/home_pic1.jpg' %}" alt="Stethoscope" />
        </figure>
        <br><br>
        <h2 class="is-size-3 has-text-weight-bold">What's the problem?</h2>
        <p>
            Please select one of the following health problems to find the cause, your remedy, and possible preventions to your problem/s:
        </p>
        <br>
        <div class="fixed-grid">
            <div class="grid">
              <a class="cell1 notification is-link has-text-centered is-size-5" href="{% url 'Physical_Injury' %}">Physical Injury</a>
              <button class="cell2 notification is-link has-text-centered is-size-5">Gastric Problems</button>
              <button class="cell3 notification is-link has-text-centered is-size-5">Cough</button>
              <button class="cell4 notification is-link has-text-centered is-size-5">Pain Relief</button>
              <button class="cell5 notification is-link has-text-centered is-size-5">Nausea/vomiting</button>
              <button class="cell6 notification is-link has-text-centered is-size-5">Diarrhoea/Constipation</button>
              <br>
            </div>
        </div>
    </div>
</body>
</html>