<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nausea/Vomiting</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Style.css' %}">
</head>
<body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'home' %}">
                    <h1 class="is-size-5 has-text-left has-text-weight-bold title-white"><u>Find Your Remedy</u></h1>
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Problems
                    </a>
                    <div class="navbar-dropdown">
                        {% for illness in illnesses %}
                        <a class="navbar-item" href="{% url 'illness_view' illness.name %}">{{ illness.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="notification is-primary" style="margin-top: 3.25rem;">
            <h1 class="is-size-1 has-text-centered has-text-weight-bold"><u>Find Your Remedy</u></h1>
        </div>
        <h2 class="is-size-3 has-text-weight-bold">
            <u>Nausea/Vomiting</u>
        </h2>
        <p>
            <br>
            <b>Vomiting</b> is common in adults, children and babies. It is often caused by a stomach bug and
            should stop in a few days.
        </p>
        <br>
        <p>
            Feeling sick <b>(nausea)</b> is common and usually goes away on its own. There are some things you can try that might help.
        </p>
        <hr>
        <figure class="image is-1080x1080">
            <img class="is-rounded image-border" src="{% static '/images/nausea.jpg' %}" alt="Nausea/vomiting image"/>
        </figure>
        <br>
        <hr>
        <h2 class="is-size-3 has-text-weight-bold">Find more about other problems:</h2>
        <p>
            Please select one of the following health problems to find the cause, your remedy, and possible preventions to
            your problem/s:
        </p>
        <br>
        <div class="fixed-grid">
            <div class="grid">
                 {% for illness in illnesses %}
                    <a class="cell1 notification is-link has-text-centered is-size-5" href="{% url 'illness_view' illness.name %}">{{ illness.name }}</a>
                 {% endfor %}
                <br>
            </div>

            <div class="columns is-centered">
                <div class="column is-full">
                    <a class="button is-size-4 is-primary has-text-white is-fullwidth" href="{% url 'home' %}">Back Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>