<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pain Relief</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Style.css' %}">
</head>
<body>
     <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'home' %}">
                    <h1 class="is-size-5 has-text-left has-text-weight-bold title-white"><u>Find Your Remedy</u></h1>
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Problems
                    </a>
                    <div class="navbar-dropdown">
                        {% for illness in illnesses %}
                        <a class="navbar-item" href="{% url 'illness_view' illness.name %}">{{ illness.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="notification is-primary" style="margin-top: 3.25rem;">
            <h1 class="is-size-1 has-text-centered has-text-weight-bold"><u>Find Your Remedy</u></h1>
        </div>
        <h2 class="is-size-3 has-text-weight-bold">
            <u>Pain Relief</u>
        </h2>
        <br>
        <p>
            Exercise and continuing to work if you can are key to managing persistent pain, also known as chronic pain, to help lead a fuller life.
        </p>
        <hr>
        <figure class="image is-1080x1080">
            <img class="image-border" src="{% static '/images/pain.jpg' %}" alt="pain relief image"/>
        </figure>
        <hr>
        <p>
            Lying in bed for long periods can make back pain last longer. Lack of activity can make:
        </p>
        <br>
        <div class="content">
            <ul>
                <li>You stiffen up</li>
                <li>Your muscles and bones become weaker</li>
                <li>You sleep less well</li>
                <li>You become lonely and depressed</li>
                <li>Pain feels worse</li>
            </ul>
        </div>
        <br>
        <p>
            You may also find it becomes harder to get going again.
        </p>
        <br>
        <p>
            A better approach to reducing pain is a combination of:
        </p>
        <br>
        <div class="content">
            <li>exercise</li>
            <li>staying at work</li>
            <li>physical therapy</li>
            <li>painkillers</li>
        </div>
        <hr>
        <h2 class="is-size-3 has-text-weight-bold">Find more about other problems:</h2>
        <br>
        <p>
            Please select one of the following health problems to find the cause, your remedy, and possible preventions to
            your problem/s:
        </p>
        <br>
        <br>
        <div class="fixed-grid">
            <div class="grid">
                 {% for illness in illnesses %}
                    <a class="cell1 notification is-link has-text-centered is-size-5" href="{% url 'illness_view' illness.name %}">{{ illness.name }}</a>
                 {% endfor %}
                <br>
            </div>

            <div class="columns is-centered">
                <div class="column is-full">
                    <a class="button is-size-4 is-primary has-text-white is-fullwidth" href="{% url 'home' %}">Back Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>